td{

	vertical-align: top !important;
}
.publisherLetter{
	text-decoration: none;
	margin-right: 5px;
}
.publisherDiv{

	text-align: center;
	border-bottom: 1px #ECECEC solid;
	margin: 19px auto;
	padding-bottom: 5px;
	width: 74%;
}
.site-header .LRInterfaceCount{
	clear:both;
	
}
.site-header .textwidget{

	float:right;
	clear:both;
}

.imageCell div{

	height: 100%;
	max-width: 70%;
	padding-left: 5px;
	overflow: hidden;
}
.imageCell td, .resultsTable td{
	
	min-width: 140px;
}

.imageCell img, .resultsTable img{

	height: 106px !important; 
	width: 120px !important;
	display: block;
	float: left;
	margin: 5px 15px;
}

.categoryUl  li{

	display: inline !important;
	text-decoration: none;
	margin-right: 10px;
	
}
.categoryUl{

	font-weight: bold;
	text-align: center;
	font-size: 16px;
}

.modal{
	outline: none;
	margin-top: 15px;
}

.modal-timeline p{

	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0 !important;
}

.modal-timeline p span{

	text-align: right;
	float: right;
}

.filterPublisher, .filterPublisherOn{

border: 1px solid #d9d9d9 !important;
width:40% !important;
height: 31px;
clear:both;

margin: 3px auto;
text-align: center;

padding: 0 !important;
cursor: pointer;
}


.lrSubmit:hover, .lrSubmitNoFloat:hover, .filterPublisher:hover, .LRxButton:hover, .filterPublisherOn{
	background-color: #eaeaea;
}

.filterPublisherOn{
	border-color: #8d8d8d !important;
}

.lrSubmitNoFloat{
	margin: 0 !important;
	padding: 0 !important;
	width: 20% !important;
	height: 31px;
	border: none !important;
	border-left: 1px #d9d9d9 solid !important;
	cursor: pointer;
}
.LRxButton{

	margin: 0 0 0 10px !important;
	padding: 2px 4px !important;
	border: 1px #aaa solid !important;
	cursor: pointer;
	font-size: 10px;
	color: #000000;
	font-weight:bold;
	display: inline;
}

.lrSubmit{
	margin: 0 !important;
	padding: 0 !important;
	width: 20% !important;
	float:right;
	height: 31px;
	border: none !important;
	border-left: 1px #d9d9d9 solid !important;
	cursor: pointer;
}
.lrSearch{
	
	margin: 0 !important;
	padding: 6px 0 4px 5px !important;
	width: 70% !important;
	float:left;
	height: 21px;
	outline: none;
	border: none !important;
	
}

.lrSearchCombo{

	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	clear: both;
	height: auto;
	overflow:hidden;
	margin-bottom: 7px;
}

.standard-link .standard-link-collapse{

	margin-top: 1px;
	margin-bottom: 10px;
	line-height: 21px;
}


.standard-plus{

	text-decoration: none;
	color: #aaa;
}

.childrenResourceNumber{

	color: #888;
	font-size: 13px;
}

.fine{

	margin-bottom: 5px !important;
}

.loading{

	height: 100px;
}

.standardHeader{
	
	float:left;
	border: 1px #ddd solid;
	border-bottom: none;
	padding: 10px 15px;
	margin-right:10px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	background-color: #efefef;
	border-radius:3px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

.standardsContainer{
	border-bottom:1px #ddd solid;
	width:100%;
	overflow:hidden;
	margin-bottom: 15px;
}

.allStates{
	min-height: 200px;
}

.stateList{

	margin: 0 14% 15px 14%;
}

.individualState{
	margin: 5px auto;
}

.standardHeaderInactive{

	background: none;
	border: none;
	color: #aaa;
}

.standardHeaderInactive:hover{

	color: #222;

	
}

.lr_free_images{
	
	display: block;
	margin: 30px auto;
	width: 98%;
	overflow: hidden;
}

.lr_free_images div{
	
	display: block;
	width: 23%;
	overflow: hidden;
	float: left;
	margin: auto 5px;
}

.lr_free_images a{ 
	text-decoration:none;
	overflow:hidden;
}
.lr_free_images img{ 
	height: 140px !important;
	width:140px !important;
	background:none;
	border:none;
	padding:0;
}

.IE_error{

	width:90%;
	background-color:#ffdede;
	padding:8px;
	text-align:center;
	margin:10px auto 25px auto;
	border:1px solid #efcece;
	color: #777;
	display:none;
}