td{

	vertical-align: top !important;
}

.imageCell td, .resultsTable td{
	
	min-width: 140px;
}
.imageCell img, .resultsTable img{

	height: 101px;
	width: 116px;
	display: block;
	float: left;
	margin: 15px;
	margin-bottom: 25px;
}

.imageCell, .resultsTable{

	padding-left: 10px !important;
	padding-right: 10px !important;
}

.categoryUl  li{

	display: inline !important;
		text-decoration: none;
	margin-right: 10px;
	
}
.categoryUl{

	font-weight: bold;
	text-align: center;
	font-size: 16px;
}