td{

	vertical-align: top !important;
}

.imageCell div{

	height: 100%;
	max-width: 70%;
	padding-left: 5px;
}
.imageCell td, .resultsTable td{
	
	min-width: 140px;
}

.imageCell img, .resultsTable img{

	height: 91px !important; 
	width: 106px !important;
	display: block;
	float: left;
	margin: 5px 15px;
}

.imageCell, .resultsTable{

	padding-left: 10px !important;
	padding-right: 10px !important;
}

.categoryUl  li{

	display: inline !important;
	text-decoration: none;
	margin-right: 10px;
	
}
.categoryUl{

	font-weight: bold;
	text-align: center;
	font-size: 16px;
}

.modal{
	outline: none;
	margin-top: 15px;
}

.modal-timeline p{

	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0 !important;
}

.modal-timeline p span{

	text-align: right;
	float: right;
}

.lrSubmit{
	margin: 0 !important;
	padding: 0 !important;
	width: 24% !important;
	float:right;
	height: 31px;
	border: none !important;
	border-left: 1px #ddd solid !important;
	cursor: pointer;
		
}
.lrSearch{
	
	margin: 0 !important;
	padding: 0 !important;
	padding-left: 5px !important;
	width: 70% !important;
	float:left;
	height: 31px;
	outline: none;
	border: none !important;
	
}

.lrSearchCombo{

	border: 1px solid #ccc;
	border-radius: 3px;
		display: block;
		clear: both;
		height: auto;
	overflow:hidden;
}